<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Open source and community-driven software development is becoming increasingly important to innovation in the wireless industry.  
  ">
  <link href=”images/apple-touch-icon.png" rel="apple-touch-icon" />
  {%- seo -%}

  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <script src="//assets.adobedtm.com/7360c2888734/889ceb313208/launch-618af3362ed3.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  {%- include custom-head.html -%}

</head>