<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h2 class="quic-project-name">AI Model Efficiency Toolkit</h2>

    <p class="quic-project-description">
      Qualcomm Innovation Center (QuIC) is at the forefront of enabling low-power inference at the edge through its
      pioneering model-efficiency research. QuIC has a mission to help migrate the ecosystem toward fixed-point
      inference. With this goal, QuIC presents the AI Model Efficiency Toolkit (AIMET) - a library that provides
      advanced quantization and compression techniques for trained neural network models. AIMET enables neural networks
      to run more efficiently on fixed-point AI hardware accelerators.
    </p>

    <a href="https://quic.github.io/aimet-pages/index.html" class="button-link">About</a>
    <a href="https://github.com/quic/aimet" class="button-link">Repo</a>
  </div>
</div>

<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h2 class="quic-project-name">Gunyah Hypervisor</h2>

    <p class="quic-project-description">Gunyah is a Type-1 hypervisor designed for strong security, performance and
      modularity. Independent of any high-level OS kernel, Gunyah runs in a higher CPU privilege level, and does not
      depend on any
      lower-privileged OS kernel/code for its core functionality. This increases its security and can support a much
      smaller trusted computing base than a Type-2 hypervisor.
    </p>

    <a href="https://github.com/quic/gunyah-hypervisor" class="button-link">Repo</a>
  </div>
</div>

<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h2 class="quic-project-name">Sample Apps for Qualcomm Robotics RB5 Platform</h2>

    <p class="quic-project-description">
      Sample applications of Qualcomm's Robotics development platform demonstrating superior image capture and
      processing with depth mapping.
      Use of Qualcomm's AI engine achieves high-speed and high-performance on-device machine learning, as well as
      real-time object detection and pose estimation, hardware accelerated video encoding/decoding and much more,
      all within reasonable thermal limits.
    </p>

    <a href="https://github.com/quic/sample-apps-for-Qualcomm-Robotics-RB5-platform" class="button-link">Repo</a>
  </div>
</div>