<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h1 class="quic-project-name">AI Model Efficiency Toolkit</h1>

    <p class="quic-project-description">
      Qualcomm Innovation Center (QuIC) is at the forefront of enabling low-power inference at the edge through its
      pioneering model-efficiency research. QuIC has a mission to help migrate the ecosystem toward fixed-point
      inference. With this goal, QuIC presents the AI Model Efficiency Toolkit (AIMET) - a library that provides
      advanced quantization and compression techniques for trained neural network models. AIMET enables neural networks
      to run more efficiently on fixed-point AI hardware accelerators.
    </p>

    <a href="https://quic.github.io/aimet-pages/index.html" class="button-link">About</a>
    <a href="https://github.com/quic/aimet" class="button-link">Repo</a>
  </div>
</div>

<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h1 class="quic-project-name">AIMET Model Zoo</h1>

    <p class="quic-project-description">The AIMET Model Zoo is a collection of popular pre-trained models optimized for
      8-bit inference. It also provides the recipe for quantizing popular 32-bit floating point (FP32) models to 8-bit
      integer (INT8) models with little loss in accuracy. The tested and verified recipes include a script that
      optimizes TensorFlow or PyTorch models across a broad range of categories from image classification, object
      detection, semantic segmentation, and pose estimation to super resolution, and speech recognition.
    </p>
    <a href="https://www.qualcomm.com/news/onq/2021/01/22/aimet-model-zoo-highly-accurate-quantized-ai-models-are-now-available"
      class="button-link">About</a>
    <a href="https://github.com/quic/aimet-model-zoo/" class="button-link">Repo</a>
  </div>
</div>

<div class="quic-project-container">
  <div class="wrapper quic-project">
    <h1 class="quic-project-name">Sample Apps for Qualcomm Robotics RB5 Platform</h1>

    <p class="quic-project-description">
      Sample applications of Qualcomm's Robotics development platform demonstrating superior image capture and
      processing with depth mapping.
      Use of Qualcomm's AI engine achieves high-speed and high-performance on-device machine learning, as well as
      real-time object detection and pose estimation, hardware accelerated video encoding/decoding and much more,
      all within reasonable thermal limits.
    </p>

    <a href="https://github.com/quic/sample-apps-for-Qualcomm-Robotics-RB5-platform" class="button-link">Repo</a>
  </div>
</div>