{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">

  {%- if social.github -%}
  <li>
    <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}"
      title="{{ social.github | escape }}">
      <div class="github-icon">&nbsp;</div>
      <br />
      Github
    </a>
  </li>
  {%- endif -%}

  {%- if social.youtube_channel -%}<li><a rel="me"
      href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}" title="QuIC YouTube">
      <div class="youtube-icon">&nbsp;</div><br />
      YouTube
    </a></li>{%- endif -%}
  <li><a rel="me" href="https://assets.qualcomm.com/developer-newsletter-sign-up.html" title="Sign Up for Newsletter">
      <div class="newsletter-icon">&nbsp;</div><br />
      Newsletter
    </a></li>
</ul>